.users-wrap {
  margin: 3em 0;
}
.users-wrap input {
  padding-left: 0.5em;
  min-width: 20rem;
  height: 3rem;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  margin: 0.2rem;
}
.users-wrap button {
  min-width: 25%;
  height: 2.1em;
  font: inherit;
  background: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin: 0.2rem 0 0 0.15rem;
}
.users-wrap select {
  min-width: 50%;
}
.users-wrap h3 {
  font-weight: 400;
  cursor: pointer;
}
.users-wrap h3:hover {
  font-weight: 600;
}
