.auth-menu-wrap {
  display: flex;
  justify-content: space-around;
}
.auth-menu {
  display: flex;
  width: 26em;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}
.auth-menu li {
  display: inline-block;
  text-align: center;
  min-height: 100%;
  margin: auto;
  color: #31b2e8;
}
.auth-menu li a {
  text-decoration: none;
  color: #31b2e8;
}
