.layout-wraper {
  display: block;
}
.layout-menu {
  margin: 5em 0 0 7em;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.layout-menu li {
  font-size: 1.5em;
  border-bottom: 0.05em solid rgb(153, 149, 149);
  margin: 0 0 0 1em;
  padding: 0 0 0.3em 0;
  cursor: pointer;
}

.layout-menu li:hover {
  font-weight: 600;
}

.active {
  border-bottom: 0.2em solid rgb(153, 149, 149);
}

.user-profile-name {
  font-size: 2.5em;
}

.user-profile-name:hover {
  cursor: default;
  font-weight: inherit;
}

.user-enter-to-child {
  margin: 0.5em 0;
}

.user-enter-to-child:hover {
  cursor: pointer;
  font-weight: 600;
}
