.inlist {
  font-style: normal;
  font-size: 1em;
  font-weight: 300;
}
.inlist:hover {
  cursor: pointer;
  font-weight: 600;
}

.lesson-list {
  margin-left: 1em;
}

.lesson-list-item {
  font-size: 100%;
  list-style: disc;
  list-style-position: inside;
}
