.udoc-li {
  margin: 0.5em 0;
}
.udoc-li:hover {
  cursor: pointer;
  font-weight: 600;
}

.udoc-checkbox {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  min-height: 2em;
}

.udoc-checkbox-span {
  position: absolute;
  top: -0.5em;
  left: 1em;
  color: #c71313;
}
.udoc-checkbox label {
  padding: 0.3em 0 0 0;
}

.udoc-checkbox label::before {
  margin-top: 0;
}
