@keyframes width-move {
  from {
    width: 9em;
    animation-timing-function: ease-out;
    animation-duration: 2s;
  }
  to {
    width: 12em;
  }
}

.side-nav-bar {
  position: fixed;
  top: 0;
  width: 11em;
  height: 100%;
  background-color: rgb(250, 253, 255);
  box-shadow: 5px 0px 9px 5px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 5px 0px 9px 5px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 5px 0px 9px 5px rgba(0, 0, 0, 0.13);
}
.side-nav-bar ul {
  display: flex;
  width: 15%;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 1em 0 0 0.5em;
}
.side-nav-bar ul li {
  display: block;
  text-align: center;
  width: 9.5em;
  min-height: 100%;
  padding: 1.5em 0;
  font-size: 1.3em;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

#notes {
  color: red;
}

.side-btn- {
  margin-top: 0.3em;
  background-color: #00a558;
  box-shadow: 1px 0px 0px 1px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 1px 0px 0px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 1px 0px 0px 1px rgba(0, 0, 0, 0.09);
}
.side-btn-:hover {
  animation: width-move 300ms;
  width: 12em;
  background-color: #03c86c;
  cursor: pointer;
}

.side-btn-active {
  background-color: #007a41;
  margin-top: 0.2em;
  max-width: 8.2em;
}

@media screen and (max-width: 420px) {
  .side-nav-bar {
    width: 6em;
  }
  .side-nav-bar ul li {
    width: 7.8em;
    font-size: 0.8em;
  }
}
