.sell-box-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: auto;
}
.sell-box-block-wrapper {
  display: flex;
}
.sell-box-course-block-wrapper {
  display: flex;
  width: 80%;
  margin: 1.5em 0;
}
.sell-box-list-block-wrapper {
  display: flex;
  width: 80%;
  margin: 1.5em 0;
}
.sell-box-list-block-wrapper label {
  margin: 0.2em 0 0 0;
}
.sell-box-wrapper input {
  width: 30%;
  height: 3rem;
  border: none;
  //border-bottom: 0.1em solid darkblue;
  border-bottom: 0.1em solid rgb(84, 235, 96);
  margin: 0.2rem;
}
.sell-box-wrapper input:focus {
  outline: none;
}

.sell-box-wrapper select {
  width: auto;
  height: 3rem;
  border: none;
  //border-bottom: 0.1em solid darkblue;
  border-bottom: 0.1em solid rgb(84, 235, 96);
  margin: 0.2rem;
}
.sell-box-wrapper select:focus {
  outline: none;
}
