$width: 4em;
$padding: 0.3em;
$height: $width / 2 + $padding;

.editing-h1 {
  text-align: center;
  font-size: 1.7em;
}

.editing-wrap {
  margin: 3em 0 0 0;
  display: flex;
  justify-content: space-around;
}

.editing {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.editing h3 {
  margin: 0.5em;
  text-align: center;
  font-size: 1.3em;
}

.editing i {
  font-style: italic;
  color: #38ad2e;
  font-weight: 500;
  margin: 0.5em 0;
}

.editing select {
  min-width: 20rem;
  height: 3rem;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  margin: 0.2rem;
}

.editing input {
  min-width: 20rem;
  height: 3rem;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  margin: 0.2rem;
}

.editing-btn {
  width: 100%;
  //display: block;
  font: inherit;
  background: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin: 0.2rem 0 0 0.15rem;
}
.switch-wrap-edit {
  cursor: pointer;
  background: #2584f1;
  padding: $padding;
  width: $width;
  height: $height;
  border-radius: $height / 2;
  margin-bottom: 0.3em;
  input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.switch-edit {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 0fr;
  transition: 0.2s;
  //ICYMI, pseudo elements are treated as grid items
  &::after {
    content: '';
    border-radius: 50%;
    background: #24f358;
    grid-column: 2;
    transition: background 0.2s;
  }
}
input:checked {
  + .switch-edit {
    grid-template-columns: 0fr 1fr 1fr;
    &::after {
      background-color: #ccc;
    }
  }
}
