:root {
  font-size: 8px;
  --blue: #007bff;
  --sky: #38b3fa;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #333;
  --primary: #333;
  --secondary: #555;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #fff;
  --dark: #555;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body {
  font-family: 'Open Sans', Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
} */

img {
  display: block;
}

.container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
html {
  margin: 0 auto;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body h1 {
  font-size: 3em;
  font-weight: 900;
  margin: 0.4em 0;
}
.intro-h1 {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

body h2 {
  font-size: 2.8em;
  font-weight: 700;
  margin: 0.4em 0;
}
body h3 {
  font-size: 2.6em;
  font-weight: 600;
  margin: 0.4em 0;
}
body h4 {
  font-size: 2.4em;
  font-weight: 500;
  margin: 0.4em 0;
}
body h5 {
  font-size: 2.2em;
  font-weight: 400;
  margin: 0.4em 0;
}

body p {
  font-size: 1.8em;
  font-weight: 400;
  margin: 0.4em 0;
}
