.approve-check-wraper {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.approve-check-lable {
  display: block;
  width: 1em;
  color: black;
  margin-left: 2em;
}

.approve-check-lable::before {
  margin-top: -0.5em;
}

.approve-check-lable span {
  margin: 0;
  color: black;
}
