.auth-h1 {
  text-align: center;
  font-size: 1.7em;
}

.auth-wrap {
  display: flex;
  justify-content: space-around;
}

.auth {
  width: 25%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.auth span {
  width: 100%;
  text-align: center;
}

.auth-toggle {
  display: flex;
  flex-direction: row;
  padding-bottom: 2em;
}

.auth-toggle-h {
  margin: 0 2.5em 0 2.5em;
  color: rgb(31, 202, 74);
  font-size: 1.5em;
  font-weight: 500;
}
.auth-toggle-h:hover {
  cursor: pointer;
  font-weight: 700;
}

.auth-toggle-h-active {
  cursor: pointer;
  margin: 0 2.5em 0 2.5em;
  color: rgb(31, 202, 74);
  font-size: 1.5em;
  font-weight: 700;
  //border-bottom: 0.1em solid rgb(31, 202, 74);
}

.auth h3 {
  text-align: center;
  font-size: 1.3em;
}

.auth input {
  width: 100%;
  height: 3rem;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  margin: 0.2rem;
}

.auth button {
  width: 100%;
  display: inline-block;
  font: inherit;
  background: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;

  margin: 0.2rem 0 0 0.15rem;
}

.auth-reg-wrap {
  margin: 3em 0;
}
.forget-pass {
  text-align: center;
  margin: 2em 0;
  width: 100%;
  color: blue;
}
